# Фронтенд (React)
frontend/node_modules/
frontend/dist/

# Бекенд (C#)
backend/bin/
backend/obj/
backend/appsettings.Development.json

# Не пушимо тестові картинки з локального сервера
backend/wwwroot/uploads/

# Бази даних
*.db
*.sqlite
*.sqlite-journal

# Налаштування редакторів
.vscode/
.vs/
.idea/